<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Rick T Productions</a>
      by <a href="#">Rick Thornbrugh</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'about', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>